@font-face {
    font-family: 'Monoton';
    src: url('../fonts/Monoton-Regular.ttf') format('truetype');
}


*, *:after, *:before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, .66);
}

.main .text {
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 50px;
    line-height: 1.2;
    font-family: 'Monoton', cursive;
    text-transform: uppercase;
}

.main .text span {
    display: block;
}

@media only screen and (max-width: 768px) {
    .main .text {
        font-size: 27px;
        line-height: 1.4;
    }
}

@media only screen and (max-width: 365px) {
    .main .text {
        font-size: 22px;
    }
}